@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

body{
    font-family: WDXL Lubrifont TC, sans-serif;
    background-color: rgb(8, 8, 37);
}

.intro{
    color: rgb(18, 18, 146);
    margin-top: -15px;
}

.head{
    width: auto;
    height: 300px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(39, 72, 223);
    text-shadow: 0 0 8px #196a99;
}

.sit{
    margin-left: 30%;
    margin-top: -120px;
    width: 750px;
    height: 400px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: aliceblue;
    text-align: justify;
}

.text1{
    margin-top: -15px;
}

.button{
    width: 160px;
    height: 90px;
    font-size: 25px;
    border-radius: 35px;
    border: none;
    background-color: rgb(39, 72, 223);
    margin-left: 45%;
    box-shadow: none; /* Убрана постоянная подсветка */
    margin-top: 50px;
    transition: box-shadow 0.3s ease; /* Добавлен плавный переход */
}

.href{
    color: aliceblue;
    text-decoration: none;
} 
